header,footer {
    background-color: teal;
}

main {
    padding: 10px;
    background-color: teal;
}

.post { 
background-color: wheat;
padding: 20px;
border-radius: 20px;
margin-bottom: 20px;
display: flex;
}

.post img {
    margin: 20px;
}

#menu {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
    }
    
    #menu ul {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        width: 28%;
        height: auto;
        list-style: none;
        border: 1px solid black;
        border-radius: 20px;
    }

    #menu > ul::after {
        display: block;
        width: 100%;
        height: auto;
        clear: both;
        content: " ";
    }
    
    #menu ul li {
        position: relative;
        display: block;
        float: left;
        width: auto;
        height: auto;
    }

    #menu ul li a {
        display: block;
        padding: 9px 25px 0px 25px;
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        height: 36px;
        box-sizing: border-box;
        color: white;
    }
    
#menu ul li ul {
    position: absolute;
    top: 36px;
    left: 0px;
    display: none;
    width: 110px;
    background-color: teal;
}

#menu ul li:hover ul {
    display: block;
   }
   
   
   #menu ul li ul li {
       float: none;
       width: 100px;
   }
   
#menu ul li ul li a {
    display: block;
    text-transform: none;
    height: auto;
    padding: 7px 25px;
    width: 110px;
    box-sizing: border-box;
    border-top: 1px solid black;
    color: wheat;
}
.error {
    width: 300px;
    color: brown;
    padding-left: 734px;
    font-size: 60px;
}